.signup {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.signin-btn {
  width: 350px;
  margin-top: 10px;
}
